window {
        background-color: rgba (0, 0, 0, 00)
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
/* Cursor Dark: #181818 panel, #cccccc outline */
#inner-box {
	background-color: rgba (24, 24, 24, 1);
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba (204, 204, 204, 0.7);
	padding: 10px;
	margin: 10px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: rgba (204, 204, 204, 0.1)
}
